body#micro, body {
	background:#e5e5e5;
	font-family:'RobotoLight', Arial, sans;
}
body#micro a {
	color:#262626;
	text-decoration:none;
	font-family: 'RobotoBold', Arial, sans;
	font-weight: normal;
}
body, caption, th, td, input, textarea, select, option, legend, fieldset, button, p {font-family:'RobotoLight', Arial, sans; }
/**
* Fonts
**/
@font-face {
	font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light.woff') format('woff'),
         url('../fonts/Roboto-Light.ttf') format('truetype'),
         url('../fonts/Roboto-Light.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin.eot');
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin.woff') format('woff'),
         url('../fonts/Roboto-Thin.ttf') format('truetype'),
         url('../fonts/Roboto-Thin.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

#micro #main-column-container {
	background: none;
}
#column-container {
	background:none transparent;
}
#mainmiddlewrap {
	max-width:65%;
	margin:50px auto;
}
#top-wrapper, #mainmiddle, #footer-wrap {
	min-width:0;
}
.viewheadertop {
    width:100%;
    height:44px;
    padding:0;
    background:white;
    position:fixed;
    top:0;
    z-index:1000;
    box-shadow:0 2px 4px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 2px 4px 0px rgba(0,0,0,0.1);
}
.viewheadertop a {
	color:#333;
	font-family: 'RobotoMedium', Arial, sans;
	text-decoration:none;
}
.viewheadertop .title {
    margin:0;
    padding:0;
    line-height:44px;
}
.viewheadertop .links {
	margin:11px 0;
}
.thumbnails .frame {
	border:solid 1px rgba(50,50,50,0.1);
}
