#column-container {
    background:none transparent;
}
.postlist td h3 {
	border-bottom:none;
}
#collection h1.collection-title, #containerX .title {
	margin:0 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	width:250px;
	word-wrap:normal;
	white-space:nowrap;
	font-family: 'RobotoThin';
	float:left;
	line-height:44px;
    color:#999;
    font-weight:normal;
}
#collection > p, .viewheadertop > p {
	float:left;
	line-height:44px;
	margin:0 5px;
}
#collectionnavwrap {
	min-width:35%;
	margin:0;
	text-align:center;
	padding:0;
	float:left;
}
#containerX div.colnav1 {
	float:left;
}
#containerX div.colnav-extra {
	position:absolute;
	top:44px;
	background: #fff;
	min-height: 44px;
	width: 150px;
	right:15%;
	text-align:right;
	border-top:solid 1px #e5e5e5;
	box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
	transition:all ease 0.3s;
    -webkit-transition:all ease 0.3s;
}
#containerX div.colnav-extra li {
	float:right;
}
#containerX a#colnav-more-a {
	font-family:'RobotoBold', Arial, sans;
}
#colnav-showmore-div {
	float:right;
}
#containerX div.colnav-showmore {
	float:left;
}
#containerX ul.colnav li a {
	background:none;
	text-decoration:none;
	line-height:41px;
	border-bottom: solid 3px #fff;
	font-weight:normal;
	font-family: 'RobotoThin', Arial, sans;
}
#containerX ul.colnav li a:hover {
	border-bottom: solid 3px #B5D378;
	transition:all ease 0.3s;
	-webkit-transition:all ease 0.3s;
}
ul.colnav li {
	color:#999;
	font-size:1.1em;
	font-weight:normal;
}
#containerX ul.colnav li {
	padding:0;
	margin:0 15px
}
ul.colnav li.selected span {
	background:none;
	border-bottom: solid 3px #B5D378;
	line-height:41px;
}
#containerX ul.colnav li a, #containerX ul.colnav li.selected span {
	padding:0;
	margin:0;
}
#view-description:not(:empty) {
	background:#fff;
	padding:10px;
	box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
}
#view-description {
	background:none;
}
.blockinstance {
	background:#fff;
	margin:14px 0;
	padding:5px 10px 10px 10px;
	box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
}
.blockinstance-header h4 {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0;
	font-weight:normal;
	font-size:14px !important;/* raw theme uses important tag, so impossible to avoid */
	color:#262626;
	font-family:'RobotoBold', Arial, sans;
	margin-bottom:0;
}
.blockinstance-content {
	padding-top:10px;
}
.blockinstance-content div a img {
	max-width:96%;
}
.bt-image .blockinstance-content div a img {
	padding-bottom:5px;
}
/* Footer  */
.viewfooter {
	background:#fff;
	box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 2px 0px rgba(0,0,0,0.1);
	border:0;
}

/** 
* Dynamic Styling 
**/

/* Styles between 1030px & 1230px */ 
@media screen and (min-width:1030px) and (max-width:1230px) {
	ul.colnav li {
		font-size:0.9em;
	}
	#containerX ul.colnav li {
		margin:0 5px;
	}
	#mainmiddlewrap {
		min-width:800px;
	}
}
/* Styles between 830px & 1030px */
@media screen and (min-width:830px) and (max-width:1030px) {
	#collection h1.collection-title {
		font-size:1.2em;
		width:150px;
		margin:0 5px;
	}
	#collection > p {
		margin:0 5px;
		font-size:0.9em;
	}
	ul.colnav li {
        font-size:0.9em;
    }
    #containerX ul.colnav li {
        margin:0 5px;
    }
	#mainmiddlewrap {
        min-width:800px;
    }
	
}
/* Styles less than 830px */
@media screen and (max-width:900px) {
	#collection > p {
		font-size:0.6em;
	}
	#collection h1.collection-title {
        font-size:1.0em;
        width:150px;
        margin:0 5px;
    }
    #collection > p {
        margin:0 5px;
        font-size:0.7em;
    }
    ul.colnav li {
        font-size:0.8em;
    }
    #containerX ul.colnav li {
        margin:0 5px;
    }
    #mainmiddlewrap {
        min-width:95%;
    }
}
/* @TODO - Styles are good down to ~820px, below this, we lose the collection navigation. */
